.col-md-2{
    padding: 0;
}
/* .left-sidebar {
    position: fixed;
    padding: 50px;
    width: auto;
    height: 100%;
    top: 0px;
    z-index: 20;
    padding-top: 60px;
    background: #d3d3d3;
    float: left;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  } */
  ul{
      /* list-style: none;
      padding: 0; */
    padding: 0;
    margin: 5px 0 0 0;
    border-radius: 4px;
    width: 100%;
    float: left;
  }
  ul a{
      text-decoration: none;
      color: #000;
  }
  li{
    /* margin-bottom: 20px;
    background: #ececec;
    border-bottom: 1px solid #000;
    padding: 20px; */
    padding: 15px 0 15px 20px;
    list-style: none;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
  }
  li:hover{
      background: #ececec;
  }
  h2{
      text-align: center;
  }