<div class="col-md-8">
  <div class="container">
    <div class="row">
      <button (click)="all()">All</button>            
      <button (click)="filterBy('beauty')">Beauty</button>      
      <button (click)="filterBy('accesories')">Accesories</button>
      <ul>
        <li *ngFor="let products of product">
          <div class="col-md-2 col-sm-6 col-xs-6" data-toggle="modal" data-target="#product_view">
            <div class="thumbnail">
              <img [src]="products.image_file" alt="" class="img-responsive">
              <div class="caption">
                <h4 class="pull-right">₹{{products.price}}</h4>
                <h5><a href="#">{{products.category}}</a></h5>
                <span class="glyphicon glyphicon-heart icon" (click)="LikeButton(products._id)"></span>
                <span class="count">{{products.numberLike}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>